<p>
  <label>Name: </label>
  <%= text_field_tag :name %>
</p>
<p>
  <label>Hometown: </label>
  <%= text_field_tag :hometown %>
</p>
<p>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>
</p>
  <%= f.submit %>
